Repository microsoft/CollectServiceFabricData, changes with the labels that .github/labeler.yml gives for each.
All labels: Configuration File, Executable, Kusto Query Language, Log Analytics Language, WorkFlow, documentation

.github/labeler.yml:

Configuration File:
  - configurationFiles/**

Executable:
  - CollectSFData/**/*
  - CollectSFData.sln

Kusto Query Language:
  - KustoQueries/*
  - KustoFunctions/*

Log Analytics Language:
  - LogAnalyticsQueries/*

WorkFlow:
  - .github/**

documentation:
  - docs/*.*

workflow pre-release fix
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow pre-release fix
  .github/workflows/workflow.yml
Labels: WorkFlow

kusto function updtates /adds
  KustoFunctions/sflogs/base/TraceFalsePositive.csl
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRMSummary.csl
Labels: none

kusto function updtates /adds
  KustoFunctions/sflogs/base/TraceFalsePositive.csl
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRMSummary.csl
Labels: none

kusto function updtates /adds
  KustoFunctions/sflogs/base/TraceFalsePositive.csl
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRMSummary.csl
Labels: none

kusto function updtates /adds
  KustoFunctions/sflogs/base/TraceFalsePositive.csl
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRMSummary.csl
Labels: none

kusto function updtates /adds
  KustoFunctions/sflogs/base/TraceFalsePositive.csl
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRMSummary.csl
Labels: none

kusto function updtates /adds
  KustoFunctions/sflogs/base/TraceFalsePositive.csl
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRMSummary.csl
Labels: none

draft
  KustoFunctions/sflogs/reconfiguration/DRAFT#TraceReconfigurationPLB.csl
Labels: none

draft
  KustoFunctions/sflogs/reconfiguration/DRAFT#TraceReconfigurationPLB.csl
Labels: none

draft
  KustoFunctions/sflogs/reconfiguration/DRAFT#TraceReconfigurationPLB.csl
Labels: none

draft
  KustoFunctions/sflogs/reconfiguration/DRAFT#TraceReconfigurationPLB.csl
Labels: none

draft
  KustoFunctions/sflogs/reconfiguration/DRAFT#TraceReconfigurationPLB.csl
Labels: none

draft
  KustoFunctions/sflogs/reconfiguration/DRAFT#TraceReconfigurationPLB.csl
Labels: none

remove lock.json
  CollectSFData/CollectSFData.csproj
  CollectSFData/packages.lock.json
  CollectSFDataDll/packages.lock.json
Labels: Executable

remove lock.json
  CollectSFData/CollectSFData.csproj
  CollectSFData/packages.lock.json
  CollectSFDataDll/packages.lock.json
Labels: Executable

remove lock.json
  CollectSFData/CollectSFData.csproj
  CollectSFData/packages.lock.json
  CollectSFDataDll/packages.lock.json
Labels: Executable

remove lock.json
  CollectSFData/CollectSFData.csproj
  CollectSFData/packages.lock.json
  CollectSFDataDll/packages.lock.json
Labels: Executable

remove lock.json
  CollectSFData/CollectSFData.csproj
  CollectSFData/packages.lock.json
  CollectSFDataDll/packages.lock.json
Labels: Executable

remove lock.json
  CollectSFData/CollectSFData.csproj
  CollectSFData/packages.lock.json
  CollectSFDataDll/packages.lock.json
Labels: Executable

fix for https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/
  .github/workflows/workflow.yml
Labels: WorkFlow

fix for https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/
  .github/workflows/workflow.yml
Labels: WorkFlow

fix for https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/
  .github/workflows/workflow.yml
Labels: WorkFlow

fix for https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/
  .github/workflows/workflow.yml
Labels: WorkFlow

fix for https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/
  .github/workflows/workflow.yml
Labels: WorkFlow

fix for https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/
  .github/workflows/workflow.yml
Labels: WorkFlow

add cert trace
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
Labels: none

add cert trace
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
Labels: none

add cert trace
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
Labels: none

add cert trace
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
Labels: none

add cert trace
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
Labels: none

add cert trace
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
Labels: none

kusto function updates
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRMSummary.csl
  KustoFunctions/sftable/TableViewGlobalTime.csl
  KustoFunctions/sftable/TableViewIncidents.csl
  KustoFunctions/sftable/TableViewNodesOps.csl
Labels: none

kusto function updates
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRMSummary.csl
  KustoFunctions/sftable/TableViewGlobalTime.csl
  KustoFunctions/sftable/TableViewIncidents.csl
  KustoFunctions/sftable/TableViewNodesOps.csl
Labels: none

kusto function updates
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRMSummary.csl
  KustoFunctions/sftable/TableViewGlobalTime.csl
  KustoFunctions/sftable/TableViewIncidents.csl
  KustoFunctions/sftable/TableViewNodesOps.csl
Labels: none

kusto function updates
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRMSummary.csl
  KustoFunctions/sftable/TableViewGlobalTime.csl
  KustoFunctions/sftable/TableViewIncidents.csl
  KustoFunctions/sftable/TableViewNodesOps.csl
Labels: none

kusto function updates
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRMSummary.csl
  KustoFunctions/sftable/TableViewGlobalTime.csl
  KustoFunctions/sftable/TableViewIncidents.csl
  KustoFunctions/sftable/TableViewNodesOps.csl
Labels: none

kusto function updates
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRMSummary.csl
  KustoFunctions/sftable/TableViewGlobalTime.csl
  KustoFunctions/sftable/TableViewIncidents.csl
  KustoFunctions/sftable/TableViewNodesOps.csl
Labels: none

move program.cs
  CollectSFData/Program.cs
Labels: Executable

move program.cs
  CollectSFData/Program.cs
Labels: Executable
