Repository microsoft/CollectServiceFabricData, changes with the labels that .github/labeler.yml gives for each.
All labels: Configuration File, Executable, Kusto Query Language, Log Analytics Language, WorkFlow, documentation

.github/labeler.yml:

Configuration File:
  - configurationFiles/**

Executable:
  - CollectSFData/**/*
  - CollectSFData.sln

Kusto Query Language:
  - KustoQueries/*
  - KustoFunctions/*

Log Analytics Language:
  - LogAnalyticsQueries/*

WorkFlow:
  - .github/**

documentation:
  - docs/*.*

test os check
  CollectSFData/Program.cs
Labels: Executable

test os check
  CollectSFData/Program.cs
Labels: Executable

test os check
  CollectSFData/Program.cs
Labels: Executable

test os check
  CollectSFData/Program.cs
Labels: Executable

test os check
  CollectSFData/Program.cs
Labels: Executable

test os check
  CollectSFData/Program.cs
Labels: Executable

test nuget pack
  CollectSFData.nuspec
  CollectSFData.sln
  CollectSFData/CollectSFData.csproj
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/CollectSFData.csproj.DotSettings
  CollectSFDataDll/CollectSFDataDll.csproj
  CollectSFDataDll/Properties/AssemblyInfo.cs
  FabricSupport.ico
  FabricSupport.png
Labels: Executable

test nuget pack
  CollectSFData.nuspec
  CollectSFData.sln
  CollectSFData/CollectSFData.csproj
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/CollectSFData.csproj.DotSettings
  CollectSFDataDll/CollectSFDataDll.csproj
  CollectSFDataDll/Properties/AssemblyInfo.cs
  FabricSupport.ico
  FabricSupport.png
Labels: Executable

test nuget pack
  CollectSFData.nuspec
  CollectSFData.sln
  CollectSFData/CollectSFData.csproj
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/CollectSFData.csproj.DotSettings
  CollectSFDataDll/CollectSFDataDll.csproj
  CollectSFDataDll/Properties/AssemblyInfo.cs
  FabricSupport.ico
  FabricSupport.png
Labels: Executable

test nuget pack
  CollectSFData.nuspec
  CollectSFData.sln
  CollectSFData/CollectSFData.csproj
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/CollectSFData.csproj.DotSettings
  CollectSFDataDll/CollectSFDataDll.csproj
  CollectSFDataDll/Properties/AssemblyInfo.cs
  FabricSupport.ico
  FabricSupport.png
Labels: Executable

test nuget pack
  CollectSFData.nuspec
  CollectSFData.sln
  CollectSFData/CollectSFData.csproj
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/CollectSFData.csproj.DotSettings
  CollectSFDataDll/CollectSFDataDll.csproj
  CollectSFDataDll/Properties/AssemblyInfo.cs
  FabricSupport.ico
  FabricSupport.png
Labels: Executable

test nuget pack
  CollectSFData.nuspec
  CollectSFData.sln
  CollectSFData/CollectSFData.csproj
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/CollectSFData.csproj.DotSettings
  CollectSFDataDll/CollectSFDataDll.csproj
  CollectSFDataDll/Properties/AssemblyInfo.cs
  FabricSupport.ico
  FabricSupport.png
Labels: Executable

test nuget pack
  CollectSFData.nuspec
Labels: none

test nuget pack
  CollectSFData.nuspec
Labels: none

test nuget pack
  CollectSFData.nuspec
Labels: none

test nuget pack
  CollectSFData.nuspec
Labels: none

test nuget pack
  CollectSFData.nuspec
Labels: none

test nuget pack
  CollectSFData.nuspec
Labels: none

test nuget pack
  CollectSFData.sln
Labels: Executable

test nuget pack
  CollectSFData.sln
Labels: Executable

test nuget pack
  CollectSFData.sln
Labels: Executable

test nuget pack
  CollectSFData.sln
Labels: Executable

test nuget pack
  CollectSFData.sln
Labels: Executable

test nuget pack
  CollectSFData.sln
Labels: Executable

test nuget pack
  .github/workflows/workflow.yml
Labels: WorkFlow

test nuget pack
  .github/workflows/workflow.yml
Labels: WorkFlow

test nuget pack
  .github/workflows/workflow.yml
Labels: WorkFlow

test nuget pack
  .github/workflows/workflow.yml
Labels: WorkFlow

test nuget pack
  .github/workflows/workflow.yml
Labels: WorkFlow

test nuget pack
  .github/workflows/workflow.yml
Labels: WorkFlow

test nuget pack
  CollectSFData.sln
Labels: Executable

test nuget pack
  CollectSFData.sln
Labels: Executable

test nuget pack
  CollectSFData.sln
Labels: Executable

test nuget pack
  CollectSFData.sln
Labels: Executable

test nuget pack
  CollectSFData.sln
Labels: Executable

test nuget pack
  CollectSFData.sln
Labels: Executable

Update workflow.yml
  .github/workflows/workflow.yml
Labels: WorkFlow

test nuget pack
  .github/workflows/workflow.yml
Labels: WorkFlow

test nuget pack
  .github/workflows/workflow.yml
Labels: WorkFlow

test nuget pack
  .github/workflows/workflow.yml
Labels: WorkFlow
