Repository microsoft/CollectServiceFabricData, changes with the labels that .github/labeler.yml gives for each.
All labels: Configuration File, Executable, Kusto Query Language, Log Analytics Language, WorkFlow, documentation

move program.cs
  CollectSFData/Program.cs
Labels: Executable

move program.cs
  CollectSFData/Program.cs
Labels: Executable

move program.cs
  CollectSFData/Program.cs
Labels: Executable

move program.cs
  CollectSFData/Program.cs
Labels: Executable

ren program.cs to collector.cs
  CollectSFData/CollectSFData.csproj
  CollectSFData/Collector.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
Labels: Executable

ren program.cs to collector.cs
  CollectSFData/CollectSFData.csproj
  CollectSFData/Collector.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
Labels: Executable

ren program.cs to collector.cs
  CollectSFData/CollectSFData.csproj
  CollectSFData/Collector.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
Labels: Executable

ren program.cs to collector.cs
  CollectSFData/CollectSFData.csproj
  CollectSFData/Collector.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
Labels: Executable

ren program.cs to collector.cs
  CollectSFData/CollectSFData.csproj
  CollectSFData/Collector.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
Labels: Executable

ren program.cs to collector.cs
  CollectSFData/CollectSFData.csproj
  CollectSFData/Collector.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
Labels: Executable

change to library
  CollectSFData/CollectSFData.csproj
Labels: Executable

change to library
  CollectSFData/CollectSFData.csproj
Labels: Executable

change to library
  CollectSFData/CollectSFData.csproj
Labels: Executable

change to library
  CollectSFData/CollectSFData.csproj
Labels: Executable

change to library
  CollectSFData/CollectSFData.csproj
Labels: Executable

change to library
  CollectSFData/CollectSFData.csproj
Labels: Executable

update project collectsfdatatest for collectsfdatadll
  CollectSFDataTest/CollectSFDataTest.csproj
Labels: none

update project collectsfdatatest for collectsfdatadll
  CollectSFDataTest/CollectSFDataTest.csproj
Labels: none

update project collectsfdatatest for collectsfdatadll
  CollectSFDataTest/CollectSFDataTest.csproj
Labels: none

update project collectsfdatatest for collectsfdatadll
  CollectSFDataTest/CollectSFDataTest.csproj
Labels: none

update project collectsfdatatest for collectsfdatadll
  CollectSFDataTest/CollectSFDataTest.csproj
Labels: none

update project collectsfdatatest for collectsfdatadll
  CollectSFDataTest/CollectSFDataTest.csproj
Labels: none

add new collectsfdata exe project. rename execute() to collect()
  CollectSFData.sln
  CollectSFData/App.config
  CollectSFData/CollectSFData.csproj
  CollectSFData/Program.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/Collector.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
Labels: Executable

add new collectsfdata exe project. rename execute() to collect()
  CollectSFData.sln
  CollectSFData/App.config
  CollectSFData/CollectSFData.csproj
  CollectSFData/Program.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/Collector.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
Labels: Executable

add new collectsfdata exe project. rename execute() to collect()
  CollectSFData.sln
  CollectSFData/App.config
  CollectSFData/CollectSFData.csproj
  CollectSFData/Program.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/Collector.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
Labels: Executable

add new collectsfdata exe project. rename execute() to collect()
  CollectSFData.sln
  CollectSFData/App.config
  CollectSFData/CollectSFData.csproj
  CollectSFData/Program.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/Collector.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
Labels: Executable

add new collectsfdata exe project. rename execute() to collect()
  CollectSFData.sln
  CollectSFData/App.config
  CollectSFData/CollectSFData.csproj
  CollectSFData/Program.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/Collector.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
Labels: Executable

add new collectsfdata exe project. rename execute() to collect()
  CollectSFData.sln
  CollectSFData/App.config
  CollectSFData/CollectSFData.csproj
  CollectSFData/Program.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/Collector.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
Labels: Executable

working as dll
  CollectSFData/App.config
  CollectSFData/CollectSFData.csproj
  CollectSFData/Program.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/CollectSFDataDll.csproj
  CollectSFDataDll/Collector.cs
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataTest/Tests/KustoTests.cs
Labels: Executable

working as dll
  CollectSFData/App.config
  CollectSFData/CollectSFData.csproj
  CollectSFData/Program.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/CollectSFDataDll.csproj
  CollectSFDataDll/Collector.cs
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataTest/Tests/KustoTests.cs
Labels: Executable

working as dll
  CollectSFData/App.config
  CollectSFData/CollectSFData.csproj
  CollectSFData/Program.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/CollectSFDataDll.csproj
  CollectSFDataDll/Collector.cs
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataTest/Tests/KustoTests.cs
Labels: Executable

working as dll
  CollectSFData/App.config
  CollectSFData/CollectSFData.csproj
  CollectSFData/Program.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/CollectSFDataDll.csproj
  CollectSFDataDll/Collector.cs
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataTest/Tests/KustoTests.cs
Labels: Executable

working as dll
  CollectSFData/App.config
  CollectSFData/CollectSFData.csproj
  CollectSFData/Program.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/CollectSFDataDll.csproj
  CollectSFDataDll/Collector.cs
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataTest/Tests/KustoTests.cs
Labels: Executable

working as dll
  CollectSFData/App.config
  CollectSFData/CollectSFData.csproj
  CollectSFData/Program.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/CollectSFDataDll.csproj
  CollectSFDataDll/Collector.cs
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataTest/Tests/KustoTests.cs
Labels: Executable

add dllmain to workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

add dllmain to workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

add dllmain to workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

add dllmain to workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

add dllmain to workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

add dllmain to workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

.github/labeler.yml:

Configuration File:
  - configurationFiles/**

Executable:
  - CollectSFData/**/*
  - CollectSFData.sln

Kusto Query Language:
  - KustoQueries/*
  - KustoFunctions/*

Log Analytics Language:
  - LogAnalyticsQueries/*

WorkFlow:
  - .github/**

documentation:
  - docs/*.*
