Repository microsoft/CollectServiceFabricData, changes with the labels that .github/labeler.yml gives for each.
All labels: Configuration File, Executable, Kusto Query Language, Log Analytics Language, WorkFlow, documentation

modify kusto url check
  CollectSFData/Common/ConfigurationOptions.cs
  CollectSFData/Common/Constants.cs
Labels: Executable

modify kusto url check
  CollectSFData/Common/ConfigurationOptions.cs
  CollectSFData/Common/Constants.cs
Labels: Executable

modify kusto url check
  CollectSFData/Common/ConfigurationOptions.cs
  CollectSFData/Common/Constants.cs
Labels: Executable

modify kusto url check
  CollectSFData/Common/ConfigurationOptions.cs
  CollectSFData/Common/Constants.cs
Labels: Executable

modify kusto url check
  CollectSFData/Common/ConfigurationOptions.cs
  CollectSFData/Common/Constants.cs
Labels: Executable

modify kusto url check
  CollectSFData/Common/ConfigurationOptions.cs
  CollectSFData/Common/Constants.cs
Labels: Executable

update readme
  README.md
Labels: none

update readme
  README.md
Labels: none

update readme
  README.md
Labels: none

update readme
  README.md
Labels: none

update readme
  README.md
Labels: none

update readme
  README.md
Labels: none

update output
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
Labels: none

update output
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
Labels: none

update output
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
Labels: none

update output
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
Labels: none

update output
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
Labels: none

update output
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
Labels: none

adding kusto tests
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
  CollectSFDataTest/Tests/KustoTests.cs
  docs/contributing.md
Labels: documentation

adding kusto tests
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
  CollectSFDataTest/Tests/KustoTests.cs
  docs/contributing.md
Labels: documentation

adding kusto tests
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
  CollectSFDataTest/Tests/KustoTests.cs
  docs/contributing.md
Labels: documentation

adding kusto tests
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
  CollectSFDataTest/Tests/KustoTests.cs
  docs/contributing.md
Labels: documentation

adding kusto tests
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
  CollectSFDataTest/Tests/KustoTests.cs
  docs/contributing.md
Labels: documentation

adding kusto tests
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
  CollectSFDataTest/Tests/KustoTests.cs
  docs/contributing.md
Labels: documentation

test
  CollectSFDataTest/Tests/KustoTests.cs
Labels: none

test
  CollectSFDataTest/Tests/KustoTests.cs
Labels: none

test
  CollectSFDataTest/Tests/KustoTests.cs
Labels: none

test
  CollectSFDataTest/Tests/KustoTests.cs
Labels: none

test
  CollectSFDataTest/Tests/KustoTests.cs
Labels: none

test
  CollectSFDataTest/Tests/KustoTests.cs
Labels: none

fix prerelease
  .github/workflows/workflow.yml
Labels: WorkFlow

fix prerelease
  .github/workflows/workflow.yml
Labels: WorkFlow

fix prerelease
  .github/workflows/workflow.yml
Labels: WorkFlow

fix prerelease
  .github/workflows/workflow.yml
Labels: WorkFlow

fix prerelease
  .github/workflows/workflow.yml
Labels: WorkFlow

fix prerelease
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow pre-release fix
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow pre-release fix
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow pre-release fix
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow pre-release fix
  .github/workflows/workflow.yml
Labels: WorkFlow

.github/labeler.yml:

Configuration File:
  - configurationFiles/**

Executable:
  - CollectSFData/**/*
  - CollectSFData.sln

Kusto Query Language:
  - KustoQueries/*
  - KustoFunctions/*

Log Analytics Language:
  - LogAnalyticsQueries/*

WorkFlow:
  - .github/**

documentation:
  - docs/*.*
