Repository microsoft/CollectServiceFabricData, changes with the labels that .github/labeler.yml gives for each.
All labels: Configuration File, Executable, Kusto Query Language, Log Analytics Language, WorkFlow, documentation

.github/labeler.yml:

Configuration File:
  - configurationFiles/**

Executable:
  - CollectSFData/**/*
  - CollectSFData.sln

Kusto Query Language:
  - KustoQueries/*
  - KustoFunctions/*

Log Analytics Language:
  - LogAnalyticsQueries/*

WorkFlow:
  - .github/**

documentation:
  - docs/*.*

working
  CollectSFData/CollectSFData.csproj
  CollectSFData/Program.cs
  CollectSFData/fabricsupport.ico
  CollectSFDataDll/FabricSupport.ico
Labels: Executable

working
  CollectSFData/CollectSFData.csproj
  CollectSFData/Program.cs
  CollectSFData/fabricsupport.ico
  CollectSFDataDll/FabricSupport.ico
Labels: Executable

working with tokencache() obsolete warning
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Azure/TokenCacheHelper.cs
  CollectSFData/CollectSFData.csproj
  CollectSFData/Kusto/KustoEndpointInfo.cs
  CollectSFDataDll/packages.lock.json
Labels: Executable

working with tokencache() obsolete warning
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Azure/TokenCacheHelper.cs
  CollectSFData/CollectSFData.csproj
  CollectSFData/Kusto/KustoEndpointInfo.cs
  CollectSFDataDll/packages.lock.json
Labels: Executable

working with tokencache() obsolete warning
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Azure/TokenCacheHelper.cs
  CollectSFData/CollectSFData.csproj
  CollectSFData/Kusto/KustoEndpointInfo.cs
  CollectSFDataDll/packages.lock.json
Labels: Executable

working with tokencache() obsolete warning
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Azure/TokenCacheHelper.cs
  CollectSFData/CollectSFData.csproj
  CollectSFData/Kusto/KustoEndpointInfo.cs
  CollectSFDataDll/packages.lock.json
Labels: Executable

working with tokencache() obsolete warning
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Azure/TokenCacheHelper.cs
  CollectSFData/CollectSFData.csproj
  CollectSFData/Kusto/KustoEndpointInfo.cs
  CollectSFDataDll/packages.lock.json
Labels: Executable

working with tokencache() obsolete warning
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Azure/TokenCacheHelper.cs
  CollectSFData/CollectSFData.csproj
  CollectSFData/Kusto/KustoEndpointInfo.cs
  CollectSFDataDll/packages.lock.json
Labels: Executable

remove unused obsolete tokencache
  CollectSFData/Azure/AzureResourceManager.cs
Labels: Executable

remove unused obsolete tokencache
  CollectSFData/Azure/AzureResourceManager.cs
Labels: Executable

remove unused obsolete tokencache
  CollectSFData/Azure/AzureResourceManager.cs
Labels: Executable

remove unused obsolete tokencache
  CollectSFData/Azure/AzureResourceManager.cs
Labels: Executable

remove unused obsolete tokencache
  CollectSFData/Azure/AzureResourceManager.cs
Labels: Executable

remove unused obsolete tokencache
  CollectSFData/Azure/AzureResourceManager.cs
Labels: Executable

codemaid
  CollectSFData/App.config
  CollectSFData/Common/CustomTaskManager.cs
  CollectSFData/Common/Log.cs
  CollectSFData/Kusto/KustoConnection.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
  CollectSFDataTest/Tests/ConfigurationTests.cs
  CollectSFDataTest/Tests/GatherTypeTests.cs
Labels: Executable

codemaid
  CollectSFData/App.config
  CollectSFData/Common/CustomTaskManager.cs
  CollectSFData/Common/Log.cs
  CollectSFData/Kusto/KustoConnection.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
  CollectSFDataTest/Tests/ConfigurationTests.cs
  CollectSFDataTest/Tests/GatherTypeTests.cs
Labels: Executable

codemaid
  CollectSFData/App.config
  CollectSFData/Common/CustomTaskManager.cs
  CollectSFData/Common/Log.cs
  CollectSFData/Kusto/KustoConnection.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
  CollectSFDataTest/Tests/ConfigurationTests.cs
  CollectSFDataTest/Tests/GatherTypeTests.cs
Labels: Executable

codemaid
  CollectSFData/App.config
  CollectSFData/Common/CustomTaskManager.cs
  CollectSFData/Common/Log.cs
  CollectSFData/Kusto/KustoConnection.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
  CollectSFDataTest/Tests/ConfigurationTests.cs
  CollectSFDataTest/Tests/GatherTypeTests.cs
Labels: Executable

codemaid
  CollectSFData/App.config
  CollectSFData/Common/CustomTaskManager.cs
  CollectSFData/Common/Log.cs
  CollectSFData/Kusto/KustoConnection.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
  CollectSFDataTest/Tests/ConfigurationTests.cs
  CollectSFDataTest/Tests/GatherTypeTests.cs
Labels: Executable

codemaid
  CollectSFData/App.config
  CollectSFData/Common/CustomTaskManager.cs
  CollectSFData/Common/Log.cs
  CollectSFData/Kusto/KustoConnection.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
  CollectSFDataTest/Tests/ConfigurationTests.cs
  CollectSFDataTest/Tests/GatherTypeTests.cs
Labels: Executable

testing test setup
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  docs/contributing.md
Labels: documentation

testing test setup
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  docs/contributing.md
Labels: documentation

testing test setup
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  docs/contributing.md
Labels: documentation

testing test setup
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  docs/contributing.md
Labels: documentation

testing test setup
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  docs/contributing.md
Labels: documentation

testing test setup
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  docs/contributing.md
Labels: documentation

adding msal logon tests
  CollectSFDataTest/Tests/AzureMsalTests.cs
Labels: none

adding msal logon tests
  CollectSFDataTest/Tests/AzureMsalTests.cs
Labels: none

adding msal logon tests
  CollectSFDataTest/Tests/AzureMsalTests.cs
Labels: none

adding msal logon tests
  CollectSFDataTest/Tests/AzureMsalTests.cs
Labels: none

adding msal logon tests
  CollectSFDataTest/Tests/AzureMsalTests.cs
Labels: none

adding msal logon tests
  CollectSFDataTest/Tests/AzureMsalTests.cs
Labels: none

testing keyspec keyexchange for .net core cng issue
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
Labels: none

testing keyspec keyexchange for .net core cng issue
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
Labels: none

testing keyspec keyexchange for .net core cng issue
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
Labels: none

testing keyspec keyexchange for .net core cng issue
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
Labels: none

testing keyspec keyexchange for .net core cng issue
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
Labels: none

testing keyspec keyexchange for .net core cng issue
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
Labels: none

testing msal tests
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Azure/TokenCacheHelper.cs
  CollectSFData/Common/ConfigurationOptions.cs
  CollectSFDataTest/TestUtilities/TestProperties.cs
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  CollectSFDataTest/Tests/AzureMsalTests.cs
  docs/contributing.md
Labels: Executable, documentation

testing msal tests
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Azure/TokenCacheHelper.cs
  CollectSFData/Common/ConfigurationOptions.cs
  CollectSFDataTest/TestUtilities/TestProperties.cs
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  CollectSFDataTest/Tests/AzureMsalTests.cs
  docs/contributing.md
Labels: Executable, documentation
