Repository microsoft/CollectServiceFabricData, changes with the labels that .github/labeler.yml gives for each.
All labels: Configuration File, Executable, Kusto Query Language, Log Analytics Language, WorkFlow, documentation

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
  CollectSFData/CollectSFData.csproj
Labels: Executable, WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
  CollectSFData/CollectSFData.csproj
Labels: Executable, WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
  CollectSFData/CollectSFData.csproj
Labels: Executable, WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
  CollectSFData/CollectSFData.csproj
Labels: Executable, WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
  CollectSFData/CollectSFData.csproj
Labels: Executable, WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
  CollectSFData/CollectSFData.csproj
Labels: Executable, WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  CollectSFData/CollectSFData.csproj
Labels: Executable

workflow dotnet test
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: none

workflow dotnet test
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: none

workflow dotnet test
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: none

workflow dotnet test
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: none

workflow dotnet test
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: none

workflow dotnet test
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: none

workflow dotnet test
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: none

workflow dotnet test
  CollectSFData.sln
Labels: Executable

workflow dotnet test
  CollectSFData.sln
Labels: Executable

workflow dotnet test
  CollectSFData.sln
Labels: Executable

workflow dotnet test
  CollectSFData.sln
Labels: Executable

workflow dotnet test
  CollectSFData.sln
Labels: Executable

workflow dotnet test
  CollectSFData.sln
Labels: Executable

workflow dotnet test
  CollectSFData.sln
Labels: Executable

workflow dotnet test
  CollectSFData/Properties/AssemblyInfo.cs
Labels: Executable

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  CollectSFData.sln
Labels: Executable

workflow dotnet test
  CollectSFData.sln
Labels: Executable

workflow dotnet test
  CollectSFData.sln
Labels: Executable

workflow dotnet test
  CollectSFData.sln
Labels: Executable

workflow dotnet test
  CollectSFData.sln
Labels: Executable

workflow dotnet test
  CollectSFData.sln
Labels: Executable

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

.github/labeler.yml:

Configuration File:
  - configurationFiles/**

Executable:
  - CollectSFData/**/*
  - CollectSFData.sln

Kusto Query Language:
  - KustoQueries/*
  - KustoFunctions/*

Log Analytics Language:
  - LogAnalyticsQueries/*

WorkFlow:
  - .github/**

documentation:
  - docs/*.*
