Repository microsoft/CollectServiceFabricData, changes with the labels that .github/labeler.yml gives for each.
All labels: Configuration File, Executable, Kusto Query Language, Log Analytics Language, WorkFlow, documentation

add pdb
  .github/workflows/workflow.yml
Labels: WorkFlow

add pdb
  .github/workflows/workflow.yml
Labels: WorkFlow

modify version
  CollectSFData/CollectSFData.csproj
Labels: Executable

modify version
  CollectSFData/CollectSFData.csproj
Labels: Executable

modify version
  CollectSFData/CollectSFData.csproj
Labels: Executable

modify version
  CollectSFData/CollectSFData.csproj
Labels: Executable

modify version
  CollectSFData/CollectSFData.csproj
Labels: Executable

modify version
  CollectSFData/CollectSFData.csproj
Labels: Executable

workflow test
  .github/workflows/workflow.yml
  CollectSFData/CollectSFData.csproj
Labels: Executable, WorkFlow

add back set nuget package
  .github/workflows/workflow.yml
Labels: WorkFlow

add back set nuget package
  .github/workflows/workflow.yml
Labels: WorkFlow

add back set nuget package
  .github/workflows/workflow.yml
Labels: WorkFlow

add back set nuget package
  .github/workflows/workflow.yml
Labels: WorkFlow

add back set nuget package
  .github/workflows/workflow.yml
Labels: WorkFlow

add back set nuget package
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

.github/labeler.yml:

Configuration File:
  - configurationFiles/**

Executable:
  - CollectSFData/**/*
  - CollectSFData.sln

Kusto Query Language:
  - KustoQueries/*
  - KustoFunctions/*

Log Analytics Language:
  - LogAnalyticsQueries/*

WorkFlow:
  - .github/**

documentation:
  - docs/*.*
