Repository microsoft/CollectServiceFabricData, changes with the labels that .github/labeler.yml gives for each.
All labels: Configuration File, Executable, Kusto Query Language, Log Analytics Language, WorkFlow, documentation

.github/labeler.yml:

Configuration File:
  - configurationFiles/**

Executable:
  - CollectSFData/**/*
  - CollectSFData.sln

Kusto Query Language:
  - KustoQueries/*
  - KustoFunctions/*

Log Analytics Language:
  - LogAnalyticsQueries/*

WorkFlow:
  - .github/**

documentation:
  - docs/*.*

test workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

test workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

test workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

test workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

test workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

test workflow
  CollectSFData/CollectSFData.nuspec
Labels: Executable

test workflow
  CollectSFData/CollectSFData.nuspec
Labels: Executable

test workflow
  CollectSFData/CollectSFData.nuspec
Labels: Executable

test workflow
  CollectSFData/CollectSFData.nuspec
Labels: Executable

test workflow
  CollectSFData/CollectSFData.nuspec
Labels: Executable

test workflow
  CollectSFData/CollectSFData.nuspec
Labels: Executable

test workflow
  CollectSFData/CollectSFData.nuspec
Labels: Executable

test workflow
  CollectSFData/CollectSFData.nuspec
Labels: Executable

test workflow
  CollectSFData/CollectSFData.nuspec
Labels: Executable

test workflow
  CollectSFData/CollectSFData.nuspec
Labels: Executable

test workflow
  CollectSFData/CollectSFData.nuspec
Labels: Executable

test workflow
  CollectSFData/CollectSFData.nuspec
Labels: Executable

test workflow
  CollectSFData/CollectSFData.nuspec
Labels: Executable

test workflow
  CollectSFData/CollectSFData.nuspec
Labels: Executable

add conflict packages
  CollectSFData/CollectSFData.csproj
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: Executable

add conflict packages
  CollectSFData/CollectSFData.csproj
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: Executable

add conflict packages
  CollectSFData/CollectSFData.csproj
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: Executable

add conflict packages
  CollectSFData/CollectSFData.csproj
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: Executable

add conflict packages
  CollectSFData/CollectSFData.csproj
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: Executable

add conflict packages
  CollectSFData/CollectSFData.csproj
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: Executable

add conflict packages
  CollectSFData/CollectSFData.csproj
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: Executable

dll build pre-release
  CollectSFData.sln
Labels: Executable

dll build pre-release
  CollectSFData.sln
Labels: Executable

dll build pre-release
  CollectSFData.sln
Labels: Executable

dll build pre-release
  CollectSFData.sln
Labels: Executable

dll build pre-release
  CollectSFData.sln
Labels: Executable

dll build pre-release
  CollectSFData.sln
Labels: Executable

cleanup
  CollectSFData/CollectSFData.csproj
  CollectSFData/CollectSFData.nuspec
Labels: Executable

cleanup
  CollectSFData/CollectSFData.csproj
  CollectSFData/CollectSFData.nuspec
Labels: Executable

cleanup
  CollectSFData/CollectSFData.csproj
  CollectSFData/CollectSFData.nuspec
Labels: Executable

cleanup
  CollectSFData/CollectSFData.csproj
  CollectSFData/CollectSFData.nuspec
Labels: Executable

cleanup
  CollectSFData/CollectSFData.csproj
  CollectSFData/CollectSFData.nuspec
Labels: Executable

cleanup
  CollectSFData/CollectSFData.csproj
  CollectSFData/CollectSFData.nuspec
Labels: Executable

fixing testutilities for dll convert
  CollectSFDataTest/TestUtilities/TestUtilities.cs
Labels: none

fixing testutilities for dll convert
  CollectSFDataTest/TestUtilities/TestUtilities.cs
Labels: none
