Repository microsoft/CollectServiceFabricData, changes with the labels that .github/labeler.yml gives for each.
All labels: Configuration File, Executable, Kusto Query Language, Log Analytics Language, WorkFlow, documentation

.github/labeler.yml:

Configuration File:
  - configurationFiles/**

Executable:
  - CollectSFData/**/*
  - CollectSFData.sln

Kusto Query Language:
  - KustoQueries/*
  - KustoFunctions/*

Log Analytics Language:
  - LogAnalyticsQueries/*

WorkFlow:
  - .github/**

documentation:
  - docs/*.*

add type to settings
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
Labels: none

add type to settings
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
Labels: none

add type to settings
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
Labels: none

add type to settings
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
Labels: none

add type to settings
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
Labels: none

add type to settings
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
Labels: none

add copy for deps.json
  CollectSFDataTest/CollectSFDataTest.csproj
Labels: none

add copy for deps.json
  CollectSFDataTest/CollectSFDataTest.csproj
Labels: none

add copy for deps.json
  CollectSFDataTest/CollectSFDataTest.csproj
Labels: none

add copy for deps.json
  CollectSFDataTest/CollectSFDataTest.csproj
Labels: none

add copy for deps.json
  CollectSFDataTest/CollectSFDataTest.csproj
Labels: none

add copy for deps.json
  CollectSFDataTest/CollectSFDataTest.csproj
Labels: none

move scripts to scripts dir
  CollectSFDataTest/TestUtilities/TestUtilities.cs
  docs/contributing.md
  scripts/azure-az-create-aad-application-spn.ps1
  scripts/azure-az-create-kusto-cluster.ps1
  scripts/azure-az-rest-logon.ps1
  scripts/kusto-blob-test-generator.ps1
  scripts/kusto-dtr-blob-test.ps1
  scripts/setup-test-env.ps1
Labels: documentation

move scripts to scripts dir
  CollectSFDataTest/TestUtilities/TestUtilities.cs
  docs/contributing.md
  scripts/azure-az-create-aad-application-spn.ps1
  scripts/azure-az-create-kusto-cluster.ps1
  scripts/azure-az-rest-logon.ps1
  scripts/kusto-blob-test-generator.ps1
  scripts/kusto-dtr-blob-test.ps1
  scripts/setup-test-env.ps1
Labels: documentation

move scripts to scripts dir
  CollectSFDataTest/TestUtilities/TestUtilities.cs
  docs/contributing.md
  scripts/azure-az-create-aad-application-spn.ps1
  scripts/azure-az-create-kusto-cluster.ps1
  scripts/azure-az-rest-logon.ps1
  scripts/kusto-blob-test-generator.ps1
  scripts/kusto-dtr-blob-test.ps1
  scripts/setup-test-env.ps1
Labels: documentation

move scripts to scripts dir
  CollectSFDataTest/TestUtilities/TestUtilities.cs
  docs/contributing.md
  scripts/azure-az-create-aad-application-spn.ps1
  scripts/azure-az-create-kusto-cluster.ps1
  scripts/azure-az-rest-logon.ps1
  scripts/kusto-blob-test-generator.ps1
  scripts/kusto-dtr-blob-test.ps1
  scripts/setup-test-env.ps1
Labels: documentation

move scripts to scripts dir
  CollectSFDataTest/TestUtilities/TestUtilities.cs
  docs/contributing.md
  scripts/azure-az-create-aad-application-spn.ps1
  scripts/azure-az-create-kusto-cluster.ps1
  scripts/azure-az-rest-logon.ps1
  scripts/kusto-blob-test-generator.ps1
  scripts/kusto-dtr-blob-test.ps1
  scripts/setup-test-env.ps1
Labels: documentation

move scripts to scripts dir
  CollectSFDataTest/TestUtilities/TestUtilities.cs
  docs/contributing.md
  scripts/azure-az-create-aad-application-spn.ps1
  scripts/azure-az-create-kusto-cluster.ps1
  scripts/azure-az-rest-logon.ps1
  scripts/kusto-blob-test-generator.ps1
  scripts/kusto-dtr-blob-test.ps1
  scripts/setup-test-env.ps1
Labels: documentation

set namespace
  CollectSFDataTest/CollectSFDataTest.csproj
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Tests/ConfigurationTests.cs
  CollectSFDataTest/Tests/FileUriTests.cs
  CollectSFDataTest/Tests/GatherTypeTests.cs
  CollectSFDataTest/Tests/KustoTests.cs
  CollectSFDataTest/Tests/SasUriTests.cs
  CollectSFDataTest/Utilities/ProcessOutput.cs
  CollectSFDataTest/Utilities/TestProperties.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

set namespace
  CollectSFDataTest/CollectSFDataTest.csproj
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Tests/ConfigurationTests.cs
  CollectSFDataTest/Tests/FileUriTests.cs
  CollectSFDataTest/Tests/GatherTypeTests.cs
  CollectSFDataTest/Tests/KustoTests.cs
  CollectSFDataTest/Tests/SasUriTests.cs
  CollectSFDataTest/Utilities/ProcessOutput.cs
  CollectSFDataTest/Utilities/TestProperties.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

set namespace
  CollectSFDataTest/CollectSFDataTest.csproj
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Tests/ConfigurationTests.cs
  CollectSFDataTest/Tests/FileUriTests.cs
  CollectSFDataTest/Tests/GatherTypeTests.cs
  CollectSFDataTest/Tests/KustoTests.cs
  CollectSFDataTest/Tests/SasUriTests.cs
  CollectSFDataTest/Utilities/ProcessOutput.cs
  CollectSFDataTest/Utilities/TestProperties.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

set namespace
  CollectSFDataTest/CollectSFDataTest.csproj
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Tests/ConfigurationTests.cs
  CollectSFDataTest/Tests/FileUriTests.cs
  CollectSFDataTest/Tests/GatherTypeTests.cs
  CollectSFDataTest/Tests/KustoTests.cs
  CollectSFDataTest/Tests/SasUriTests.cs
  CollectSFDataTest/Utilities/ProcessOutput.cs
  CollectSFDataTest/Utilities/TestProperties.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

set namespace
  CollectSFDataTest/CollectSFDataTest.csproj
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Tests/ConfigurationTests.cs
  CollectSFDataTest/Tests/FileUriTests.cs
  CollectSFDataTest/Tests/GatherTypeTests.cs
  CollectSFDataTest/Tests/KustoTests.cs
  CollectSFDataTest/Tests/SasUriTests.cs
  CollectSFDataTest/Utilities/ProcessOutput.cs
  CollectSFDataTest/Utilities/TestProperties.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

set namespace
  CollectSFDataTest/CollectSFDataTest.csproj
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Tests/ConfigurationTests.cs
  CollectSFDataTest/Tests/FileUriTests.cs
  CollectSFDataTest/Tests/GatherTypeTests.cs
  CollectSFDataTest/Tests/KustoTests.cs
  CollectSFDataTest/Tests/SasUriTests.cs
  CollectSFDataTest/Utilities/ProcessOutput.cs
  CollectSFDataTest/Utilities/TestProperties.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

add LogMessage event and isConsole
  CollectSFData/Program.cs
  CollectSFDataDll/Collector.cs
  CollectSFDataDll/Common/Log.cs
  CollectSFDataDll/Common/LogMessage.cs
Labels: Executable

add LogMessage event and isConsole
  CollectSFData/Program.cs
  CollectSFDataDll/Collector.cs
  CollectSFDataDll/Common/Log.cs
  CollectSFDataDll/Common/LogMessage.cs
Labels: Executable

add LogMessage event and isConsole
  CollectSFData/Program.cs
  CollectSFDataDll/Collector.cs
  CollectSFDataDll/Common/Log.cs
  CollectSFDataDll/Common/LogMessage.cs
Labels: Executable

add LogMessage event and isConsole
  CollectSFData/Program.cs
  CollectSFDataDll/Collector.cs
  CollectSFDataDll/Common/Log.cs
  CollectSFDataDll/Common/LogMessage.cs
Labels: Executable

add LogMessage event and isConsole
  CollectSFData/Program.cs
  CollectSFDataDll/Collector.cs
  CollectSFDataDll/Common/Log.cs
  CollectSFDataDll/Common/LogMessage.cs
Labels: Executable

add LogMessage event and isConsole
  CollectSFData/Program.cs
  CollectSFDataDll/Collector.cs
  CollectSFDataDll/Common/Log.cs
  CollectSFDataDll/Common/LogMessage.cs
Labels: Executable

testing startup
  CollectSFDataDll/Common/CustomTaskManager.cs
Labels: none

testing startup
  CollectSFDataDll/Common/CustomTaskManager.cs
Labels: none

testing startup
  CollectSFDataDll/Common/CustomTaskManager.cs
Labels: none

testing startup
  CollectSFDataDll/Common/CustomTaskManager.cs
Labels: none

testing startup
  CollectSFDataDll/Common/CustomTaskManager.cs
Labels: none

testing startup
  CollectSFDataDll/Common/CustomTaskManager.cs
Labels: none

update
  scripts/azure-az-create-kusto-cluster.ps1
Labels: none

update
  scripts/azure-az-create-kusto-cluster.ps1
Labels: none

update
  scripts/azure-az-create-kusto-cluster.ps1
Labels: none

update
  scripts/azure-az-create-kusto-cluster.ps1
Labels: none
