Repository microsoft/CollectServiceFabricData, changes with the labels that .github/labeler.yml gives for each.
All labels: Configuration File, Executable, Kusto Query Language, Log Analytics Language, WorkFlow, documentation

.github/labeler.yml:

Configuration File:
  - configurationFiles/**

Executable:
  - CollectSFData/**/*
  - CollectSFData.sln

Kusto Query Language:
  - KustoQueries/*
  - KustoFunctions/*

Log Analytics Language:
  - LogAnalyticsQueries/*

WorkFlow:
  - .github/**

documentation:
  - docs/*.*

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow test
  .github/workflows/workflow.yml
Labels: WorkFlow

testing .netcore
  CollectSFData/CollectSFData.csproj
  scripts/netcore-build.ps1
Labels: Executable

testing .netcore
  CollectSFData/CollectSFData.csproj
  scripts/netcore-build.ps1
Labels: Executable

testing .netcore
  CollectSFData/CollectSFData.csproj
  scripts/netcore-build.ps1
Labels: Executable

testing .netcore
  CollectSFData/CollectSFData.csproj
  scripts/netcore-build.ps1
Labels: Executable

testing .netcore
  CollectSFData/CollectSFData.csproj
  scripts/netcore-build.ps1
Labels: Executable

testing .netcore
  CollectSFData/CollectSFData.csproj
  scripts/netcore-build.ps1
Labels: Executable

workflow test
  CollectSFData/CollectSFData.csproj
Labels: Executable

workflow test
  CollectSFData/CollectSFData.csproj
Labels: Executable

workflow test
  CollectSFData/CollectSFData.csproj
Labels: Executable

workflow test
  CollectSFData/CollectSFData.csproj
Labels: Executable

workflow test
  CollectSFData/CollectSFData.csproj
Labels: Executable

workflow test
  CollectSFData/CollectSFData.csproj
Labels: Executable

add rids
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: none

add rids
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: none

add rids
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: none

add rids
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: none

add rids
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: none

add rids
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: none

add both frameworks
  CollectSFData/CollectSFData.nuspec
Labels: Executable

add both frameworks
  CollectSFData/CollectSFData.nuspec
Labels: Executable

add both frameworks
  CollectSFData/CollectSFData.nuspec
Labels: Executable

add both frameworks
  CollectSFData/CollectSFData.nuspec
Labels: Executable

add both frameworks
  CollectSFData/CollectSFData.nuspec
Labels: Executable

add both frameworks
  CollectSFData/CollectSFData.nuspec
Labels: Executable

add build back to test
  CollectSFData.sln
Labels: Executable

add build back to test
  CollectSFData.sln
Labels: Executable

add build back to test
  CollectSFData.sln
Labels: Executable

add build back to test
  CollectSFData.sln
Labels: Executable

add build back to test
  CollectSFData.sln
Labels: Executable
