Repository microsoft/CollectServiceFabricData, changes with the labels that .github/labeler.yml gives for each.
All labels: Configuration File, Executable, Kusto Query Language, Log Analytics Language, WorkFlow, documentation

modify LogDebug from bool to int for logging levels
  CollectSFDataDll/Azure/AzureResourceManager.cs
  CollectSFDataDll/Common/CommandLineArguments.cs
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataDll/Common/CustomTaskManager.cs
  CollectSFDataDll/Common/Log.cs
  CollectSFDataDll/Kusto/KustoEndpointInfo.cs
  CollectSFDataDll/LogAnalytics/LogAnalyticsConnection.cs
Labels: none

modify LogDebug from bool to int for logging levels
  CollectSFDataDll/Azure/AzureResourceManager.cs
  CollectSFDataDll/Common/CommandLineArguments.cs
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataDll/Common/CustomTaskManager.cs
  CollectSFDataDll/Common/Log.cs
  CollectSFDataDll/Kusto/KustoEndpointInfo.cs
  CollectSFDataDll/LogAnalytics/LogAnalyticsConnection.cs
Labels: none

modify LogDebug from bool to int for logging levels
  CollectSFDataDll/Azure/AzureResourceManager.cs
  CollectSFDataDll/Common/CommandLineArguments.cs
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataDll/Common/CustomTaskManager.cs
  CollectSFDataDll/Common/Log.cs
  CollectSFDataDll/Kusto/KustoEndpointInfo.cs
  CollectSFDataDll/LogAnalytics/LogAnalyticsConnection.cs
  configurationFiles/collectsfdata.schema.json
Labels: Configuration File

modify LogDebug from bool to int for logging levels
  CollectSFDataDll/Azure/AzureResourceManager.cs
  CollectSFDataDll/Common/CommandLineArguments.cs
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataDll/Common/CustomTaskManager.cs
  CollectSFDataDll/Common/Log.cs
  CollectSFDataDll/Kusto/KustoEndpointInfo.cs
  CollectSFDataDll/LogAnalytics/LogAnalyticsConnection.cs
Labels: none

add LoggingLevel
  CollectSFDataDll/Azure/AzureResourceManager.cs
  CollectSFDataDll/Common/CommandLineArguments.cs
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataDll/Common/CustomTaskManager.cs
  CollectSFDataDll/Common/Log.cs
  CollectSFDataDll/Common/LoggingLevel.cs
  CollectSFDataDll/Kusto/KustoConnection.cs
  CollectSFDataDll/Kusto/KustoEndpointInfo.cs
  CollectSFDataDll/LogAnalytics/LogAnalyticsConnection.cs
  CollectSFDataTest/TestConfigurations/collectsfdata.options.json
  configurationFiles/azure.kusto.64.json
  configurationFiles/azure.kusto.65.json
  configurationFiles/azure.la.json
  configurationFiles/collectsfdata.options.json
  configurationFiles/collectsfdata.schema.json
  configurationFiles/standalone.kusto.json
  configurationFiles/standalone.la.json
  docs/configuration.md
  docs/kustoQuickStart.md
Labels: Configuration File, documentation

add LoggingLevel
  CollectSFDataDll/Azure/AzureResourceManager.cs
  CollectSFDataDll/Common/CommandLineArguments.cs
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataDll/Common/CustomTaskManager.cs
  CollectSFDataDll/Common/Log.cs
  CollectSFDataDll/Common/LoggingLevel.cs
  CollectSFDataDll/Kusto/KustoConnection.cs
  CollectSFDataDll/Kusto/KustoEndpointInfo.cs
  CollectSFDataDll/LogAnalytics/LogAnalyticsConnection.cs
  CollectSFDataTest/TestConfigurations/collectsfdata.options.json
  configurationFiles/azure.kusto.64.json
  configurationFiles/azure.kusto.65.json
  configurationFiles/azure.la.json
  configurationFiles/collectsfdata.options.json
  configurationFiles/standalone.kusto.json
  configurationFiles/standalone.la.json
  docs/kustoQuickStart.md
Labels: Configuration File, documentation

add LoggingLevel
  CollectSFDataDll/Azure/AzureResourceManager.cs
  CollectSFDataDll/Common/CommandLineArguments.cs
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataDll/Common/CustomTaskManager.cs
  CollectSFDataDll/Common/Log.cs
  CollectSFDataDll/Common/LoggingLevel.cs
  CollectSFDataDll/Kusto/KustoConnection.cs
  CollectSFDataDll/Kusto/KustoEndpointInfo.cs
  CollectSFDataDll/LogAnalytics/LogAnalyticsConnection.cs
  CollectSFDataTest/TestConfigurations/collectsfdata.options.json
  configurationFiles/azure.kusto.64.json
  configurationFiles/azure.kusto.65.json
  configurationFiles/azure.la.json
  configurationFiles/collectsfdata.options.json
  configurationFiles/standalone.kusto.json
  configurationFiles/standalone.la.json
  docs/configuration.md
  docs/kustoQuickStart.md
Labels: Configuration File, documentation

add LoggingLevel
  CollectSFDataDll/Azure/AzureResourceManager.cs
  CollectSFDataDll/Common/CommandLineArguments.cs
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataDll/Common/CustomTaskManager.cs
  CollectSFDataDll/Common/Log.cs
  CollectSFDataDll/Common/LoggingLevel.cs
  CollectSFDataDll/Kusto/KustoConnection.cs
  CollectSFDataDll/Kusto/KustoEndpointInfo.cs
  CollectSFDataDll/LogAnalytics/LogAnalyticsConnection.cs
  CollectSFDataTest/TestConfigurations/collectsfdata.options.json
  configurationFiles/azure.kusto.64.json
  configurationFiles/azure.kusto.65.json
  configurationFiles/azure.la.json
  configurationFiles/collectsfdata.options.json
  configurationFiles/standalone.kusto.json
  configurationFiles/standalone.la.json
  docs/configuration.md
  docs/kustoQuickStart.md
Labels: Configuration File, documentation

add LoggingLevel
  CollectSFDataDll/Azure/AzureResourceManager.cs
  CollectSFDataDll/Common/CommandLineArguments.cs
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataDll/Common/CustomTaskManager.cs
  CollectSFDataDll/Common/Log.cs
  CollectSFDataDll/Common/LoggingLevel.cs
  CollectSFDataDll/Kusto/KustoConnection.cs
  CollectSFDataDll/Kusto/KustoEndpointInfo.cs
  CollectSFDataDll/LogAnalytics/LogAnalyticsConnection.cs
  CollectSFDataTest/TestConfigurations/collectsfdata.options.json
  configurationFiles/azure.kusto.64.json
  configurationFiles/azure.kusto.65.json
  configurationFiles/azure.la.json
  configurationFiles/collectsfdata.options.json
  configurationFiles/standalone.kusto.json
  configurationFiles/standalone.la.json
  docs/kustoQuickStart.md
Labels: Configuration File, documentation

add LoggingLevel
  CollectSFDataDll/Azure/AzureResourceManager.cs
  CollectSFDataDll/Common/CommandLineArguments.cs
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataDll/Common/CustomTaskManager.cs
  CollectSFDataDll/Common/Log.cs
  CollectSFDataDll/Common/LoggingLevel.cs
  CollectSFDataDll/Kusto/KustoConnection.cs
  CollectSFDataDll/Kusto/KustoEndpointInfo.cs
  CollectSFDataDll/LogAnalytics/LogAnalyticsConnection.cs
  CollectSFDataTest/TestConfigurations/collectsfdata.options.json
  configurationFiles/azure.kusto.64.json
  configurationFiles/azure.kusto.65.json
  configurationFiles/azure.la.json
  configurationFiles/collectsfdata.options.json
  configurationFiles/standalone.kusto.json
  configurationFiles/standalone.la.json
  docs/configuration.md
  docs/kustoQuickStart.md
Labels: Configuration File, documentation

modify KustoIngestMessage to default false
  CollectSFDataDll/Common/ConfigurationOptions.cs
Labels: none

modify KustoIngestMessage to default false
  CollectSFDataDll/Common/ConfigurationOptions.cs
Labels: none

modify KustoIngestMessage to default false
  CollectSFDataDll/Common/ConfigurationOptions.cs
Labels: none

modify KustoIngestMessage to default false
  CollectSFDataDll/Common/ConfigurationOptions.cs
Labels: none

modify KustoIngestMessage to default false
  CollectSFDataDll/Common/ConfigurationOptions.cs
Labels: none

modify KustoIngestMessage to default false
  CollectSFDataDll/Common/ConfigurationOptions.cs
Labels: none

reorder
  CollectSFDataDll/Common/Log.cs
Labels: none

reorder
  CollectSFDataDll/Common/Log.cs
Labels: none

reorder
  CollectSFDataDll/Common/Log.cs
Labels: none

reorder
  CollectSFDataDll/Common/Log.cs
Labels: none

reorder
  CollectSFDataDll/Common/Log.cs
Labels: none

reorder
  CollectSFDataDll/Common/Log.cs
Labels: none

modifying tests to use dll
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Utilities/ProcessOutput.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

modifying tests to use dll
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Utilities/ProcessOutput.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

modifying tests to use dll
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Utilities/ProcessOutput.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

modifying tests to use dll
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Utilities/ProcessOutput.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

modifying tests to use dll
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Utilities/ProcessOutput.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

modifying tests to use dll
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Utilities/ProcessOutput.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

msal tests working
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Utilities/ProcessOutput.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

msal tests working
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Utilities/ProcessOutput.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

msal tests working
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Utilities/ProcessOutput.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

msal tests working
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Utilities/ProcessOutput.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

msal tests working
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Utilities/ProcessOutput.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

msal tests working
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Utilities/ProcessOutput.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

update msal tests. add msal events
  CollectSFDataDll/Azure/AzureResourceManager.cs
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

update msal tests. add msal events
  CollectSFDataDll/Azure/AzureResourceManager.cs
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

update msal tests. add msal events
  CollectSFDataDll/Azure/AzureResourceManager.cs
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

update msal tests. add msal events
  CollectSFDataDll/Azure/AzureResourceManager.cs
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

update msal tests. add msal events
  CollectSFDataDll/Azure/AzureResourceManager.cs
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

update msal tests. add msal events
  CollectSFDataDll/Azure/AzureResourceManager.cs
  CollectSFDataTest/Tests/AzureMsalTests.cs
  CollectSFDataTest/Utilities/TestUtilities.cs
Labels: none

.github/labeler.yml:

Configuration File:
  - configurationFiles/**

Executable:
  - CollectSFData/**/*
  - CollectSFData.sln

Kusto Query Language:
  - KustoQueries/*
  - KustoFunctions/*

Log Analytics Language:
  - LogAnalyticsQueries/*

WorkFlow:
  - .github/**

documentation:
  - docs/*.*
