Repository microsoft/CollectServiceFabricData, changes with the labels that .github/labeler.yml gives for each.
All labels: Configuration File, Executable, Kusto Query Language, Log Analytics Language, WorkFlow, documentation

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  CollectSFData.sln
Labels: Executable

workflow dotnet test
  CollectSFData.sln
Labels: Executable

workflow dotnet test
  CollectSFData.sln
Labels: Executable

workflow dotnet test
  CollectSFData.sln
Labels: Executable

workflow dotnet test
  CollectSFData.sln
Labels: Executable

workflow dotnet test
  CollectSFData.sln
Labels: Executable

trim service
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
Labels: none

trim service
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
Labels: none

trim service
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
Labels: none

trim service
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
Labels: none

trim service
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
Labels: none

trim service
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
Labels: none

trim values
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
Labels: none

trim values
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
Labels: none

trim values
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
Labels: none

trim values
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
Labels: none

trim values
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
Labels: none

trim values
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationCRM.csl
Labels: none

init
  KustoFunctions/sflogs/reconfiguration/DRAFT#TraceReconfigurationPLB.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationPLB.csl
Labels: none

init
  KustoFunctions/sflogs/reconfiguration/DRAFT#TraceReconfigurationPLB.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationPLB.csl
Labels: none

init
  KustoFunctions/sflogs/reconfiguration/DRAFT#TraceReconfigurationPLB.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationPLB.csl
Labels: none

init
  KustoFunctions/sflogs/reconfiguration/DRAFT#TraceReconfigurationPLB.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationPLB.csl
Labels: none

init
  KustoFunctions/sflogs/reconfiguration/DRAFT#TraceReconfigurationPLB.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationPLB.csl
Labels: none

init
  KustoFunctions/sflogs/reconfiguration/DRAFT#TraceReconfigurationPLB.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationPLB.csl
Labels: none

new kusto functions
  KustoFunctions/sflogs/hosting/TraceHostingTerminatingWithExitCode.csl
  KustoFunctions/sflogs/hosting/TraceHostingTerminatingWithExitCodeGraph.csl
  KustoFunctions/sflogs/reconfiguration/DRAFT#TraceReconfigurationPLB.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationPLB.csl
Labels: none

new kusto functions
  KustoFunctions/sflogs/hosting/TraceHostingTerminatingWithExitCode.csl
  KustoFunctions/sflogs/hosting/TraceHostingTerminatingWithExitCodeGraph.csl
  KustoFunctions/sflogs/reconfiguration/DRAFT#TraceReconfigurationPLB.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationPLB.csl
Labels: none

new kusto functions
  KustoFunctions/sflogs/hosting/TraceHostingTerminatingWithExitCode.csl
  KustoFunctions/sflogs/hosting/TraceHostingTerminatingWithExitCodeGraph.csl
  KustoFunctions/sflogs/reconfiguration/DRAFT#TraceReconfigurationPLB.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationPLB.csl
Labels: none

new kusto functions
  KustoFunctions/sflogs/hosting/TraceHostingTerminatingWithExitCode.csl
  KustoFunctions/sflogs/hosting/TraceHostingTerminatingWithExitCodeGraph.csl
  KustoFunctions/sflogs/reconfiguration/DRAFT#TraceReconfigurationPLB.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationPLB.csl
Labels: none

new kusto functions
  KustoFunctions/sflogs/hosting/TraceHostingTerminatingWithExitCode.csl
  KustoFunctions/sflogs/hosting/TraceHostingTerminatingWithExitCodeGraph.csl
  KustoFunctions/sflogs/reconfiguration/DRAFT#TraceReconfigurationPLB.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationPLB.csl
Labels: none

new kusto functions
  KustoFunctions/sflogs/hosting/TraceHostingTerminatingWithExitCode.csl
  KustoFunctions/sflogs/hosting/TraceHostingTerminatingWithExitCodeGraph.csl
  KustoFunctions/sflogs/reconfiguration/DRAFT#TraceReconfigurationPLB.csl
  KustoFunctions/sflogs/reconfiguration/TraceReconfigurationPLB.csl
Labels: none

add pdb
  .github/workflows/workflow.yml
Labels: WorkFlow

add pdb
  .github/workflows/workflow.yml
Labels: WorkFlow

add pdb
  .github/workflows/workflow.yml
Labels: WorkFlow

add pdb
  .github/workflows/workflow.yml
Labels: WorkFlow

.github/labeler.yml:

Configuration File:
  - configurationFiles/**

Executable:
  - CollectSFData/**/*
  - CollectSFData.sln

Kusto Query Language:
  - KustoQueries/*
  - KustoFunctions/*

Log Analytics Language:
  - LogAnalyticsQueries/*

WorkFlow:
  - .github/**

documentation:
  - docs/*.*
