Repository microsoft/CollectServiceFabricData, changes with the labels that .github/labeler.yml gives for each.
All labels: Configuration File, Executable, Kusto Query Language, Log Analytics Language, WorkFlow, documentation

modify kustocluster and logdebug pattern checking
  configurationFiles/collectsfdata.schema.json
Labels: Configuration File

cleanup
  CollectSFData/CollectSFData.core.csproj
Labels: Executable

cleanup
  CollectSFData/CollectSFData.core.csproj
Labels: Executable

cleanup
  CollectSFData/CollectSFData.core.csproj
Labels: Executable

cleanup
  CollectSFData/CollectSFData.core.csproj
Labels: Executable

cleanup
  CollectSFData/CollectSFData.core.csproj
Labels: Executable

cleanup
  CollectSFData/CollectSFData.core.csproj
Labels: Executable

modify Log.Highlight
  CollectSFDataDll/Azure/TableManager.cs
  CollectSFDataDll/Common/Log.cs
Labels: none

modify Log.Highlight
  CollectSFDataDll/Azure/TableManager.cs
  CollectSFDataDll/Common/Log.cs
Labels: none

modify Log.Highlight
  CollectSFDataDll/Azure/TableManager.cs
  CollectSFDataDll/Common/Log.cs
Labels: none

modify Log.Highlight
  CollectSFDataDll/Azure/TableManager.cs
  CollectSFDataDll/Common/Log.cs
Labels: none

modify Log.Highlight
  CollectSFDataDll/Azure/TableManager.cs
  CollectSFDataDll/Common/Log.cs
Labels: none

modify Log.Highlight
  CollectSFDataDll/Azure/TableManager.cs
  CollectSFDataDll/Common/Log.cs
Labels: none

modify Highlight for logginglevel
  CollectSFDataDll/Common/Log.cs
Labels: none

modify Highlight for logginglevel
  CollectSFDataDll/Common/Log.cs
Labels: none

modify Highlight for logginglevel
  CollectSFDataDll/Common/Log.cs
Labels: none

modify Highlight for logginglevel
  CollectSFDataDll/Common/Log.cs
Labels: none

modify Highlight for logginglevel
  CollectSFDataDll/Common/Log.cs
Labels: none

modify Highlight for logginglevel
  CollectSFDataDll/Common/Log.cs
Labels: none

modify checkversion remove ping
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataDll/Common/Http.cs
Labels: none

modify checkversion remove ping
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataDll/Common/Http.cs
Labels: none

modify checkversion remove ping
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataDll/Common/Http.cs
Labels: none

modify checkversion remove ping
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataDll/Common/Http.cs
Labels: none

modify checkversion remove ping
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataDll/Common/Http.cs
Labels: none

modify checkversion remove ping
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataDll/Common/Http.cs
Labels: none

highlight devicecode
  CollectSFDataDll/Azure/AzureResourceManager.cs
Labels: none

highlight devicecode
  CollectSFDataDll/Azure/AzureResourceManager.cs
Labels: none

highlight devicecode
  CollectSFDataDll/Azure/AzureResourceManager.cs
Labels: none

highlight devicecode
  CollectSFDataDll/Azure/AzureResourceManager.cs
Labels: none

highlight devicecode
  CollectSFDataDll/Azure/AzureResourceManager.cs
Labels: none

highlight devicecode
  CollectSFDataDll/Azure/AzureResourceManager.cs
Labels: none

rerun failed scripts
  scripts/install-kusto-functions.ps1
Labels: none

rerun failed scripts
  scripts/install-kusto-functions.ps1
Labels: none

rerun failed scripts
  scripts/install-kusto-functions.ps1
Labels: none

rerun failed scripts
  scripts/install-kusto-functions.ps1
Labels: none

rerun failed scripts
  scripts/install-kusto-functions.ps1
Labels: none

rerun failed scripts
  scripts/install-kusto-functions.ps1
Labels: none

collectsfdata.nuspec fix layout separate into tools and lib for npm
  CollectSFData/CollectSFData.nuspec
  scripts/dotnet-build.ps1
Labels: Executable

collectsfdata.nuspec fix layout separate into tools and lib for npm
  CollectSFData/CollectSFData.nuspec
  scripts/dotnet-build.ps1
Labels: Executable

collectsfdata.nuspec fix layout separate into tools and lib for npm
  CollectSFData/CollectSFData.nuspec
  scripts/dotnet-build.ps1
Labels: Executable

.github/labeler.yml:

Configuration File:
  - configurationFiles/**

Executable:
  - CollectSFData/**/*
  - CollectSFData.sln

Kusto Query Language:
  - KustoQueries/*
  - KustoFunctions/*

Log Analytics Language:
  - LogAnalyticsQueries/*

WorkFlow:
  - .github/**

documentation:
  - docs/*.*
