Repository microsoft/CollectServiceFabricData, changes with the labels that .github/labeler.yml gives for each.
All labels: Configuration File, Executable, Kusto Query Language, Log Analytics Language, WorkFlow, documentation

add build back to test
  CollectSFData.sln
Labels: Executable

package dll copy working with nuspec
  CollectSFData/CollectSFData.csproj
  CollectSFData/CollectSFData.nuspec
  CollectSFDataDll/CollectSFDataDll.csproj
  scripts/netcore-build.ps1
Labels: Executable

package dll copy working with nuspec
  CollectSFData/CollectSFData.csproj
  CollectSFData/CollectSFData.nuspec
  CollectSFDataDll/CollectSFDataDll.csproj
  scripts/netcore-build.ps1
Labels: Executable

package dll copy working with nuspec
  CollectSFData/CollectSFData.csproj
  CollectSFData/CollectSFData.nuspec
  CollectSFDataDll/CollectSFDataDll.csproj
  scripts/netcore-build.ps1
Labels: Executable

package dll copy working with nuspec
  CollectSFData/CollectSFData.csproj
  CollectSFData/CollectSFData.nuspec
  CollectSFDataDll/CollectSFDataDll.csproj
  scripts/netcore-build.ps1
Labels: Executable

package dll copy working with nuspec
  CollectSFData/CollectSFData.csproj
  CollectSFData/CollectSFData.nuspec
  CollectSFDataDll/CollectSFDataDll.csproj
  scripts/netcore-build.ps1
Labels: Executable

package dll copy working with nuspec
  CollectSFData/CollectSFData.csproj
  CollectSFData/CollectSFData.nuspec
  CollectSFDataDll/CollectSFDataDll.csproj
  scripts/netcore-build.ps1
Labels: Executable

update known issue out of memory
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
Labels: none

update known issue out of memory
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
Labels: none

update known issue out of memory
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
Labels: none

update known issue out of memory
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
Labels: none

update known issue out of memory
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
Labels: none

update known issue out of memory
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
Labels: none

counterobjectnames draft. slow
  KustoFunctions/sfcounter/CounterObjectNames.csl
Labels: none

counterobjectnames draft. slow
  KustoFunctions/sfcounter/CounterObjectNames.csl
Labels: none

counterobjectnames draft. slow
  KustoFunctions/sfcounter/CounterObjectNames.csl
Labels: none

counterobjectnames draft. slow
  KustoFunctions/sfcounter/CounterObjectNames.csl
Labels: none

counterobjectnames draft. slow
  KustoFunctions/sfcounter/CounterObjectNames.csl
Labels: none

counterobjectnames draft. slow
  KustoFunctions/sfcounter/CounterObjectNames.csl
Labels: none

install-kusto-functions draft
  scripts/install-kusto-functions.ps1
Labels: none

install-kusto-functions draft
  scripts/install-kusto-functions.ps1
Labels: none

install-kusto-functions draft
  scripts/install-kusto-functions.ps1
Labels: none

install-kusto-functions draft
  scripts/install-kusto-functions.ps1
Labels: none

install-kusto-functions draft
  scripts/install-kusto-functions.ps1
Labels: none

install-kusto-functions draft
  scripts/install-kusto-functions.ps1
Labels: none

test workflow
  CollectSFData.sln
Labels: Executable

test workflow
  CollectSFData.sln
Labels: Executable

test workflow
  CollectSFData.sln
Labels: Executable

test workflow
  CollectSFData.sln
Labels: Executable

test workflow
  CollectSFData.sln
Labels: Executable

test workflow
  CollectSFData.sln
Labels: Executable

test workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

test workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

test workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

test workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

test workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

test workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

test workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

test workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

test workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

.github/labeler.yml:

Configuration File:
  - configurationFiles/**

Executable:
  - CollectSFData/**/*
  - CollectSFData.sln

Kusto Query Language:
  - KustoQueries/*
  - KustoFunctions/*

Log Analytics Language:
  - LogAnalyticsQueries/*

WorkFlow:
  - .github/**

documentation:
  - docs/*.*
