Repository microsoft/CollectServiceFabricData, changes with the labels that .github/labeler.yml gives for each.
All labels: Configuration File, Executable, Kusto Query Language, Log Analytics Language, WorkFlow, documentation

testing msal tests
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Azure/TokenCacheHelper.cs
  CollectSFData/Common/ConfigurationOptions.cs
  CollectSFDataTest/TestUtilities/TestProperties.cs
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  CollectSFDataTest/Tests/AzureMsalTests.cs
  docs/contributing.md
Labels: Executable, documentation

testing msal tests
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Azure/TokenCacheHelper.cs
  CollectSFData/Common/ConfigurationOptions.cs
  CollectSFDataTest/TestUtilities/TestProperties.cs
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  CollectSFDataTest/Tests/AzureMsalTests.cs
  docs/contributing.md
Labels: Executable, documentation

testing msal tests
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Azure/TokenCacheHelper.cs
  CollectSFData/Common/ConfigurationOptions.cs
  CollectSFDataTest/TestUtilities/TestProperties.cs
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  CollectSFDataTest/Tests/AzureMsalTests.cs
  docs/contributing.md
Labels: Executable, documentation

testing msal tests
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Azure/TokenCacheHelper.cs
  CollectSFData/Common/ConfigurationOptions.cs
  CollectSFDataTest/TestUtilities/TestProperties.cs
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  CollectSFDataTest/Tests/AzureMsalTests.cs
  docs/contributing.md
Labels: Executable, documentation

testing setup scripts
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  docs/contributing.md
Labels: documentation

testing setup scripts
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  docs/contributing.md
Labels: documentation

testing setup scripts
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  docs/contributing.md
Labels: documentation

testing setup scripts
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  docs/contributing.md
Labels: documentation

testing setup scripts
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  docs/contributing.md
Labels: documentation

testing setup scripts
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  docs/contributing.md
Labels: documentation

test
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
Labels: none

test
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
Labels: none

test
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
Labels: none

test
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
Labels: none

test
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
Labels: none

test
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
Labels: none

testing msal confidentialclient
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  docs/contributing.md
Labels: Executable, documentation

testing msal confidentialclient
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  docs/contributing.md
Labels: Executable, documentation

testing msal confidentialclient
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  docs/contributing.md
Labels: Executable, documentation

testing msal confidentialclient
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  docs/contributing.md
Labels: Executable, documentation

testing msal confidentialclient
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  docs/contributing.md
Labels: Executable, documentation

testing msal confidentialclient
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
  CollectSFDataTest/TestUtilities/azure-az-create-aad-application-spn.ps1
  CollectSFDataTest/TestUtilities/azure-az-create-kusto-cluster.ps1
  CollectSFDataTest/TestUtilities/setup-test-env.ps1
  docs/contributing.md
Labels: Executable, documentation

clean
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
Labels: Executable

clean
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
Labels: Executable

clean
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
Labels: Executable

clean
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
Labels: Executable

clean
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
Labels: Executable

clean
  CollectSFData/Azure/AzureResourceManager.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
Labels: Executable

cleanup
  CollectSFData/Azure/AzureResourceManager.cs
Labels: Executable

cleanup
  CollectSFData/Azure/AzureResourceManager.cs
Labels: Executable

cleanup
  CollectSFData/Azure/AzureResourceManager.cs
Labels: Executable

cleanup
  CollectSFData/Azure/AzureResourceManager.cs
Labels: Executable

cleanup
  CollectSFData/Azure/AzureResourceManager.cs
Labels: Executable

cleanup
  CollectSFData/Azure/AzureResourceManager.cs
Labels: Executable

add kusto url checks and fail if ingest- or database missing
  CollectSFData/Common/ConfigurationOptions.cs
  CollectSFData/Common/Constants.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
Labels: Executable

add kusto url checks and fail if ingest- or database missing
  CollectSFData/Common/ConfigurationOptions.cs
  CollectSFData/Common/Constants.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
Labels: Executable

add kusto url checks and fail if ingest- or database missing
  CollectSFData/Common/ConfigurationOptions.cs
  CollectSFData/Common/Constants.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
Labels: Executable

add kusto url checks and fail if ingest- or database missing
  CollectSFData/Common/ConfigurationOptions.cs
  CollectSFData/Common/Constants.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
Labels: Executable

add kusto url checks and fail if ingest- or database missing
  CollectSFData/Common/ConfigurationOptions.cs
  CollectSFData/Common/Constants.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
Labels: Executable

add kusto url checks and fail if ingest- or database missing
  CollectSFData/Common/ConfigurationOptions.cs
  CollectSFData/Common/Constants.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
Labels: Executable

.github/labeler.yml:

Configuration File:
  - configurationFiles/**

Executable:
  - CollectSFData/**/*
  - CollectSFData.sln

Kusto Query Language:
  - KustoQueries/*
  - KustoFunctions/*

Log Analytics Language:
  - LogAnalyticsQueries/*

WorkFlow:
  - .github/**

documentation:
  - docs/*.*
