Repository microsoft/CollectServiceFabricData, changes with the labels that .github/labeler.yml gives for each.
All labels: Configuration File, Executable, Kusto Query Language, Log Analytics Language, WorkFlow, documentation

.github/labeler.yml:

Configuration File:
  - configurationFiles/**

Executable:
  - CollectSFData/**/*
  - CollectSFData.sln

Kusto Query Language:
  - KustoQueries/*
  - KustoFunctions/*

Log Analytics Language:
  - LogAnalyticsQueries/*

WorkFlow:
  - .github/**

documentation:
  - docs/*.*

modify summary output
  CollectSFData/Common/Program.cs
Labels: Executable

modify summary output
  CollectSFData/Common/Program.cs
Labels: Executable

modify summary output
  CollectSFData/Common/Program.cs
Labels: Executable

modify summary output
  CollectSFData/Common/Program.cs
Labels: Executable

modify summary output
  CollectSFData/Common/Program.cs
Labels: Executable

modify summary output
  CollectSFData/Common/Program.cs
Labels: Executable

fix pre-release workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

fix pre-release workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

fix pre-release workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

fix pre-release workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

fix pre-release workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

fix pre-release workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

add collectsfdata exe project
  CollectSFData.sln
  CollectSFData/App.config
  CollectSFData/CollectSFData.csproj
  CollectSFData/CollectSFData.nuspec
  CollectSFData/Program.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFData/fabricsupport.ico
  CollectSFDataDll/CollectSFDataDll.csproj
  CollectSFDataDll/Collector.cs
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
  FabricSupport.ico
Labels: Executable

add collectsfdata exe project
  CollectSFData.sln
  CollectSFData/App.config
  CollectSFData/CollectSFData.csproj
  CollectSFData/CollectSFData.nuspec
  CollectSFData/Program.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFData/fabricsupport.ico
  CollectSFDataDll/CollectSFDataDll.csproj
  CollectSFDataDll/Collector.cs
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
  FabricSupport.ico
Labels: Executable

add collectsfdata exe project
  CollectSFData.sln
  CollectSFData/App.config
  CollectSFData/CollectSFData.csproj
  CollectSFData/CollectSFData.nuspec
  CollectSFData/Program.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFData/fabricsupport.ico
  CollectSFDataDll/CollectSFDataDll.csproj
  CollectSFDataDll/Collector.cs
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
  FabricSupport.ico
Labels: Executable

add collectsfdata exe project
  CollectSFData.sln
  CollectSFData/App.config
  CollectSFData/CollectSFData.csproj
  CollectSFData/CollectSFData.nuspec
  CollectSFData/Program.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFData/fabricsupport.ico
  CollectSFDataDll/CollectSFDataDll.csproj
  CollectSFDataDll/Collector.cs
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
  FabricSupport.ico
Labels: Executable

add collectsfdata exe project
  CollectSFData.sln
  CollectSFData/App.config
  CollectSFData/CollectSFData.csproj
  CollectSFData/CollectSFData.nuspec
  CollectSFData/Program.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFData/fabricsupport.ico
  CollectSFDataDll/CollectSFDataDll.csproj
  CollectSFDataDll/Collector.cs
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
  FabricSupport.ico
Labels: Executable

add collectsfdata exe project
  CollectSFData.sln
  CollectSFData/App.config
  CollectSFData/CollectSFData.csproj
  CollectSFData/CollectSFData.nuspec
  CollectSFData/Program.cs
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFData/fabricsupport.ico
  CollectSFDataDll/CollectSFDataDll.csproj
  CollectSFDataDll/Collector.cs
  CollectSFDataDll/Common/ConfigurationOptions.cs
  CollectSFDataTest/TestUtilities/TestUtilities.cs
  FabricSupport.ico
Labels: Executable

add auto version
  CollectSFData/Properties/AssemblyInfo.cs
Labels: Executable

add auto version
  CollectSFData/Properties/AssemblyInfo.cs
Labels: Executable

add auto version
  CollectSFData/Properties/AssemblyInfo.cs
Labels: Executable

add auto version
  CollectSFData/Properties/AssemblyInfo.cs
Labels: Executable

add auto version
  CollectSFData/Properties/AssemblyInfo.cs
Labels: Executable

add auto version
  CollectSFData/Properties/AssemblyInfo.cs
Labels: Executable

modify log to debug for unknown json type in configuration
  CollectSFDataDll/Common/ConfigurationOptions.cs
Labels: none

modify log to debug for unknown json type in configuration
  CollectSFDataDll/Common/ConfigurationOptions.cs
Labels: none

modify log to debug for unknown json type in configuration
  CollectSFDataDll/Common/ConfigurationOptions.cs
Labels: none

modify log to debug for unknown json type in configuration
  CollectSFDataDll/Common/ConfigurationOptions.cs
Labels: none

modify log to debug for unknown json type in configuration
  CollectSFDataDll/Common/ConfigurationOptions.cs
Labels: none

modify log to debug for unknown json type in configuration
  CollectSFDataDll/Common/ConfigurationOptions.cs
Labels: none

disable determinism for wildcard versioning
  CollectSFData/CollectSFData.csproj
Labels: Executable

disable determinism for wildcard versioning
  CollectSFData/CollectSFData.csproj
Labels: Executable

disable determinism for wildcard versioning
  CollectSFData/CollectSFData.csproj
Labels: Executable

disable determinism for wildcard versioning
  CollectSFData/CollectSFData.csproj
Labels: Executable

disable determinism for wildcard versioning
  CollectSFData/CollectSFData.csproj
Labels: Executable

disable determinism for wildcard versioning
  CollectSFData/CollectSFData.csproj
Labels: Executable

working
  CollectSFData/CollectSFData.csproj
  CollectSFData/Program.cs
  CollectSFData/fabricsupport.ico
  CollectSFDataDll/FabricSupport.ico
Labels: Executable

working
  CollectSFData/CollectSFData.csproj
  CollectSFData/Program.cs
  CollectSFData/fabricsupport.ico
  CollectSFDataDll/FabricSupport.ico
Labels: Executable

working
  CollectSFData/CollectSFData.csproj
  CollectSFData/Program.cs
  CollectSFData/fabricsupport.ico
  CollectSFDataDll/FabricSupport.ico
Labels: Executable

working
  CollectSFData/CollectSFData.csproj
  CollectSFData/Program.cs
  CollectSFData/fabricsupport.ico
  CollectSFDataDll/FabricSupport.ico
Labels: Executable
