Repository microsoft/CollectServiceFabricData, changes with the labels that .github/labeler.yml gives for each.
All labels: Configuration File, Executable, Kusto Query Language, Log Analytics Language, WorkFlow, documentation

.github/labeler.yml:

Configuration File:
  - configurationFiles/**

Executable:
  - CollectSFData/**/*
  - CollectSFData.sln

Kusto Query Language:
  - KustoQueries/*
  - KustoFunctions/*

Log Analytics Language:
  - LogAnalyticsQueries/*

WorkFlow:
  - .github/**

documentation:
  - docs/*.*

update script
  CollectSFData/CollectSFData.nuspec
  scripts/clean-build.ps1
Labels: Executable

update script
  CollectSFData/CollectSFData.nuspec
  scripts/clean-build.ps1
Labels: Executable

update script
  CollectSFData/CollectSFData.nuspec
  scripts/clean-build.ps1
Labels: Executable

update script
  CollectSFData/CollectSFData.nuspec
  scripts/clean-build.ps1
Labels: Executable

remove backup / old files
  CollectSFData.framework.sln
  CollectSFData/CollectSFData.framework.csproj
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/CollectSFDataDll.framework.csproj
Labels: Executable

remove backup / old files
  CollectSFData.framework.sln
  CollectSFData/CollectSFData.framework.csproj
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/CollectSFDataDll.framework.csproj
Labels: Executable

remove backup / old files
  CollectSFData.framework.sln
  CollectSFData/CollectSFData.framework.csproj
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/CollectSFDataDll.framework.csproj
Labels: Executable

remove backup / old files
  CollectSFData.framework.sln
  CollectSFData/CollectSFData.framework.csproj
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/CollectSFDataDll.framework.csproj
Labels: Executable

remove backup / old files
  CollectSFData.framework.sln
  CollectSFData/CollectSFData.framework.csproj
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/CollectSFDataDll.framework.csproj
Labels: Executable

remove backup / old files
  CollectSFData.framework.sln
  CollectSFData/CollectSFData.framework.csproj
  CollectSFData/Properties/AssemblyInfo.cs
  CollectSFDataDll/CollectSFDataDll.framework.csproj
Labels: Executable

update dll csproj for privateassets
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: none

update dll csproj for privateassets
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: none

update dll csproj for privateassets
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: none

update dll csproj for privateassets
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: none

update dll csproj for privateassets
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: none

update dll csproj for privateassets
  CollectSFDataDll/CollectSFDataDll.csproj
Labels: none

add cluster fm partition error
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
Labels: none

add cluster fm partition error
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
Labels: none

add cluster fm partition error
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
Labels: none

add cluster fm partition error
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
Labels: none

add cluster fm partition error
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
Labels: none

add cluster fm partition error
  KustoFunctions/sflogs/base/TraceKnownIssue.csl
Labels: none

testing workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

testing workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

testing workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

testing workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

testing workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

testing workflow
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
  CollectSFData.core.sln
  CollectSFData/CollectSFData.core.csproj
  CollectSFDataDll/CollectSFDataDll.core.csproj
Labels: Executable, WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow

workflow dotnet test
  .github/workflows/workflow.yml
Labels: WorkFlow
