Repository microsoft/CollectServiceFabricData, pull requests merged in 2020-07, with the labels that each got.

#60 Ingesting mapping of ResourceURI to table name
  CollectSFData/Kusto/KustoConnection.cs
  CollectSFData/Kusto/KustoEndpointInfo.cs
Labels: Release

#66 Kusto queries POA updates
  KustoFunctions/sflogs/patch-orchestration/TracePOARepairTasks.csl
  KustoFunctions/sflogs/patch-orchestration/TracePOARepairTasksSummary.csl
  KustoFunctions/sflogs/patch-orchestration/TracePOARepairTasksTotal.csl
  KustoFunctions/sflogs/trace-graphs/TracePOARepairTasksDistinctSummaryGraph.csl
  KustoFunctions/sflogs/trace-graphs/TracePOARepairTasksGraph.csl
Labels: Kusto Query Language

#69 changes for oss
  CollectSFData/CollectSFData.nuspec
Labels: Release

#70 CollectSFData/CollectSFData.nuspec fix copyright for oss
  CollectSFData/CollectSFData.nuspec
Labels: Release

#71 Release
  .github/workflows/workflow.yml
  CollectSFData/CollectSFData.nuspec
Labels: Release

#73 add pre-release label
  .github/workflows/workflow.yml
Labels: Pre-release

#74 add pre-release label
  .github/workflows/workflow.yml
Labels: Pre-release

#75 CollectSFData/CollectSFData.nuspec add $version$ and default config json, fix missing .config
  CollectSFData/CollectSFData.nuspec
Labels: Pre-release

#77 Release CollectSFData/CollectSFData.nuspec clean release notes
  CollectSFData/CollectSFData.nuspec
Labels: Pre-release
